<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>맛집 기록 웹사이트</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
<div style="margin: 20px;">
    <h1>맛집 기록장</h1>
    <p>
        <a href="/restaurants/new"><button type="button">등록하기</button></a>
    </p>

    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>가게 이름</th>
            <th>카테고리</th>
            <th>대표 메뉴</th>
            <th>평점</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.id}">1</td>
            <td>
                <a th:href="@{/restaurants/{id}(id=${restaurant.id})}" th:text="${restaurant.name}">식당 이름</a>
            </td>
            <td th:text="${restaurant.category}">한식</td>
            <td th:text="${restaurant.foodName}">김치찌개</td>
            <td th:text="${restaurant.rating}">4.5</td>
        </tr>

        <tr th:if="${#lists.isEmpty(restaurants)}">
            <td colspan="5" style="text-align: center;">등록된 맛집이 없습니다. 새로 등록해 보세요!</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="/restaurants/trash"><button type="button">휴지통 보기</button></a>
    </p>
</div>
</body>
</html>